

<html>



<header>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous" />

	
	<link th:rel="stylesheet"
		th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
	<link th:rel="stylesheet"
		th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />

	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/">Home</a>
	</nav>

</header>


</html>
