<html>

<head>
	<style type="text/css">
	/* th, td { */
	/* 	color: white */
	/* } */
	</style>

</head>

<body>
	<div th:replace="header :: header"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card bg-dark my-5">
					<div class="card-body">
						<h2 class="card-title text-center text-white">Students List</h2>
						<div align="center">
							<a class="btn btn-info" id="addStudent" href="/signup">Add a new student</a>
						</div>
					</div>
				</div>
				
				<div th:switch="${students}">
				<div th:case="*">
				<div class="card bg-light my-5">
					<div class="card-body">
							
								<table  class="table table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Hours</th>
											<th>View</th>
											<th>Edit</th>
											<th>Delete</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="student : ${students}">
											<td th:text="${student.name}"></td>											
											<td><a class="btn btn-info" th:href="@{/addhours/{id}(id=${student.id})}">Add Hours</a></td>											
											<td><a class="btn btn-info" th:href="@{/view/{id}(id=${student.id})}">View</a></td>
											<td><a class="btn btn-info" th:href="@{/edit/{id}(id=${student.id})}">Edit</a></td>
											<td><a class="btn btn-danger disabled" th:href="@{/delete/{id}(id=${student.id})}">Delete</a></td>
										</tr>
									</tbody>
								</table>
					</div>
				</div>
				</div>
				</div>
			</div>
		</div>
		</div>
</body>

</html>