<html>

<head>

	<meta charset="UTF-8"/>
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 
	
	<script>
	$(function() {
	  $("#date").datepicker({
	   dateFormat: 'dd/mm/yy'});
	});
	</script>
	
	<style type="text/css">
		div {
			color: white
		}
	</style>
</head>

<body>
	<div th:replace="header :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card bg-dark my-5">
					<div class="card-body">
						<h2 class="card-title text-center text-white">Update hours for: <label class="text-white" th:text="${studentHours.student.name}"/></h2>

						<form action="#" th:action="@{/updatehours/{hoursid}/{studentid}(hoursid=${studentHours.hoursId},studentid=${studentHours.student.id})}"
							th:object="${studentHours}" method="post">
							<div class="form-group" align="center">				
								
								<div class="form-group">
									<label for="hours">Hours</label>
									<input type="text" th:field="*{hours}" id="hours" placeholder="Hours">
									<span th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}"></span>
									
				                    <label for="date">Date:</label>
				                    <input type="text" th:field="*{date}" id="date" placeholder="Date"/>
				                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>                 
				                    <input type="hidden" th:field="*{hoursId}">

								</div>
								
								<td colspan="2" align="center"><input type="submit" class="btn btn-md btn-info" value="Update Hours"></td>
							</div>
						</form>
					</div>					
					
				</div>
			</div>
		</div>
		</div>   

</body>
</html>