<html>

<head>
	<style type="text/css">
/* 		th, td { */
/* 			color: white */
/* 		} */
	</style>
</head>

<body>
	<div th:replace="header :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card bg-dark my-5">
					<div class="card-body">
						<h2 class="card-title text-center text-white">View Student <label class="text-white" th:text="${student.name}"/></h2>
						<div align="center">						
							<a class="btn btn-info" th:href="@{/addhours/{id}(id=${student.id})}">Add Hours</a>
						</div>
					</div>
					
				</div>
				
				<div class="card bg-light my-5">
					<div class="card-body">
						<form action="#" th:action="@{/update/{id}(id=${student.id})}"
							th:object="${student}" method="post">										
							
							<table class="table table-striped">
								<thead>
								<tr>
									<th>Date</th>
									<th>Hours</th>
									<th>Edit</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="studentHours: ${student.studentHours}">
								    <td th:text="${studentHours.date}" />
								    <td th:text="${studentHours.hours}" />
								    <td><a class="btn btn-info" th:href="@{/edithours/{hoursid}(hoursid=${studentHours.hoursId})}">Edit Hours</a></td>
								</tr>
								<tbody>
							</table>

						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
</body>
</html>